{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 26, "knowledge_revision": 56, "git_revision": "9d36ab2fec18ae43b20387bc082ae2f7373faa7f", "hash": "160306e61d7e3f6cc115995d0b27e5d3", "format-version": 4, "code-base-name": "default", "filename": "image_processing_backend_workspace/image_processing_backend/requirements.txt", "revision_history": [{"56": "9d36ab2fec18ae43b20387bc082ae2f7373faa7f"}]}